* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(95deg, rgb(198, 198, 96), rgb(148, 78, 78));
    background: url("images/Background4.jpeg");
    background-size: cover; 
    background-position: center;
    user-select: none;
}

.card {
    
    width: 90%;
    max-width: 470px;
    background:rgb(255, 255, 255,.022);
    backdrop-filter: blur(30px);
    border: 2px solid rgb(255, 255, 255,.1) ;
    color: #fff;
    margin: 25px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;

}
.srchbtn{
    margin-right: 10px;
    margin-left: -10px;
}
.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}

@media screen and (max-width:600px)
{
    .card{
        padding: 20px 20px;

    }
   
        .search {
            flex-direction: column; /* Stack the elements vertically */
            align-items: stretch;
        }
    
        .searchButton.exlocation {
            display: flex;
            justify-content: center;
            margin-top: 10px; /* Add space between search box and buttons */
          
            gap: 10px; /* Adjust spacing between the buttons */
            margin-top: 10px; /* Space between search box and buttons */
            width: 100%; /* Make sure the container is 100% width */
    
        }
    
        .search {
            width: 100%; /* Ensure the search box takes full width */
        }
    }
